.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.NavBar{
  height: 75px;
  width: 100vw;
 background-color: silver
}
.NavBarMenuDiv ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

/* ----------Welcome----------- */
.Welcome{
  margin-top: 75px
}
/* -----------------Create---------- */
.Create{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aqua;
}
.MyBotDiv{

}
.CreateBotBoxDiv{
  background-color: gold;
  height: 20em;
  width: 30em;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;

}

.BattleDiv{
  height: 300px;
  background-color: gold;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px
 
}
.CollectionDiv{
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  min-height: 75vh;
}
.FightingBot{
  border: solid black 1px;
  height: 200px;
  width: 400px;
  background-color: white
}
.SingleBot{
   border: solid black 1px;
  height: 300px;
  width: 250px;
  background-color: white
}